:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #1f2937 ,
    #41d1ff
  );
}

.VPDocFooter .last-updated {
  margin-left: auto;
  text-align: right;
}








